@using WarehouseApp.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<TypeComponent>

@{
    ViewData["Title"] = "Типы товаров";
}

<h1>Типы товаров</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeComponentId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.TypeComponentId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeComponentId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})