@model IEnumerable<WarehouseApp.Models.TypeComponent>

@{
    ViewData["Title"] = "Типы товаров";
}

<h1>Типы товаров</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeComponentId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.TypeComponentId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeComponentId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
