@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using WarehouseApp.ViewModels
@model X.PagedList.IPagedList<ComponentViewModel>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<p>
    <a asp-action="Create">Добавить новый товар</a>
</p>

@using (Html.BeginForm())
{
    <div style="display:block;">
        <div style="margin-right: 15px;">
            <p>Введите поставщика: </p>
            <input style="width: 30%;" type="text" name="searchSupplier" value="@ViewBag.CurrentFilter1?.ToString()" />
        </div>
        <div>
            <p>Введите тип товара:</p>
            <input style="width: 30%;" type="text" name="searchType" value="@ViewBag.CurrentFilter2?.ToString()" />
        </div>
    </div>


    <p style="margin-top: 15px;">
        <input style="width: 20%" type="submit" value="Отправить" />
        <a class="alink-reset" asp-action="Index" asp-route-reset="1">
            Сбросить фильтрацию
        </a>
    </p>
}

<div class="sorted">
    <span id="sorted-text">Соритровать по:</span>
    <a class="a-sorted" asp-action="Index" asp-route-sortOrder="@ViewBag.Price">Цена</a>
    <a class="a-sorted" asp-action="Index" asp-route-sortOrder="@ViewBag.Amount">Количество</a>
    <a class="a-sorted" asp-action="Index" asp-route-sortOrder="@ViewBag.Date">Дате</a>
</div>
<table class="table-comp">
<tbody>
@foreach (var item in Model) {
            <tr class="total_amt_tr">
                <td style="padding: 0 30px 0 0;">
                    <img src="/img/img-for-comp.png" alt="image comp" width="64px">
                </td>
                <td style="padding-top: 25px;" class="td-block">
                    <span class="text-td">Наименование:</span> @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="td-block">
                    <span class="text-td">Цена:</span> @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="td-block">
                    <span class="text-td">Количество:</span> @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="td-block">
                    <span class="text-td">Дата:</span> @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="td-block">
                    <span class="text-td">Тип:</span> @Html.DisplayFor(modelItem => item.TypeComponentName)
                </td>
                <td class="td-block">
                    <span class="text-td">Поставщик:</span> @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td id="td-nav-comp">
                    <a asp-action="Edit" asp-route-id="@item.ComponentId">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.ComponentId">Подробнее</a>
                    <a asp-action="Delete" asp-route-id="@item.ComponentId">Удалить</a>
                </td>
            </tr>
}
    </tbody>
</table>


Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1=ViewBag.CurrentFilter1, currentFilter2=ViewBag.CurrentFilter2 }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
